# These requirements are for development and test of the library only

# Library dependencies should be specified in setup.py "install_requires"
# with as wide a version range as possible, for maximum compatibility with
# other tools

# Testing
# ------------------------------------------------------------------------------
tox
pluggy

# Code quality
# ------------------------------------------------------------------------------
flake8==3.8.3  # https://github.com/PyCQA/flake8
flake8-isort==3.0.1  # https://github.com/gforcada/flake8-isort
black==19.10b0  # https://github.com/ambv/black
pre-commit>=2.6.0  # https://github.com/pre-commit/pre-commit
coverage>=5.2.1

# Pre-deploy checks
# ------------------------------------------------------------------------------
setuptools
wheel
twine


# Building documentation
# ------------------------------------------------------------------------------
-r docs/requirements.txt
